<tr>

  <th style="color: white; background-color: #333333;" colspan="<%= @periods.length+1 %>">
  	<span class="section-title">Fixed Expenses</span>
  	<a href="javascript:void(0)" onclick="Expense.new()" class="icon-white icon-plus-sign">
  </th>

</tr>

<% @budget.expenses.where(:isfixed => true, :auto_withdrawal => false).order("id ASC").each do |expense| %>

<tr class="fixed_expense_row">
	
  <th nowrap="true">
  	<span class="expense_title"><%= expense.title %></span>
  	<span class="" style="position: absolute; right: 10px;">
      <a href="javascript:Expense.edit(<%= expense.id %>)" class="icon-edit"></a>
      <a href="javascript:Expense.delete(<%= expense.id %>)" class="icon-remove-circle"></a>
    </span>	
  </th>
  
  <% @periods.each do |period| %>
  
	  <!--- Grab the expense value for this period --->
	  <% expense_value = expense.expense_value_by_period(period) %>
		  
	  <% if expense_value.nil? == false %>
	  <td class="is_paid_<%= expense_value.is_paid %>" id="expense_value_<%= expense_value.id %>" nowrap="true">
	  	<div>
	  		<span>
		  		<input type="checkbox" 
		  				onClick="Expense.toggle_paid(this)" 
		  				id="expense_value_toggle_<%= expense_value.id %>" 
		  				<%= expense_value.is_paid == true ? 'checked' : '' %>/> 
	  			<span class="expense_cell"
	  				  id="expense_cell_<%= expense_value.id %>">
	  				<%= expense_value.amount > 0 ? number_to_currency(expense_value.amount) : "$0.00"  %>
	  			</span>
	  		</span>
	  	</div>
	  </td>
	  <% else %>
	  <td class="expense_cell">&nbsp;</td>
	  <% end %>
      
  <% end %>
      
</tr>

<% end %>

<tr>
  <th style="color: #333333; background-color: #3399ff;">Total</th>
  <% @periods.each do |period| %>
      <td style="color: #333333; background-color: #3399ff; font-weight: bold;" id="fixed_expense_total_cell_">
        - <%= number_to_currency(period.fixed_expense_total) %>
      </td>
  <% end %>
</tr>
