<% @budget.incomes.order("sort_weight ASC").each do |income| %>
    <tr>
      <th nowrap="true">
        <a href="javascript:void(0)" onclick="$(this).siblings('div').slideToggle().toggleClass('hidden')"><%= income.title %></a>
        <div class="hidden">
          <a href="javascript:void(0)" onclick="Income.edit(<%= income.id %>)" class="btn btn-mini">Modify</a>
          <a href="javascript:void(0)" onclick="delete('income', <%= income.id %>" class="btn btn-mini">Delete</a>
        </div>
      </th>
      <% @periods.each do |period| %>
          <%
             # Grab the income value
             income_value = period.find_income_value(income)
          %>
          <td class="income_cell" id="income_cell_<%= income_value.nil? ? 0 : income_value.id %>"> <%= income_value != nil ? number_to_currency(income_value.amount) : "" %></td>
      <% end %>
    </tr>
<% end %>

<tr>
  <th style="color: #333333; background-color: #3399ff;">Total</th>
  <% @periods.each do |period| %>
  	  <% income_total = period.income_total %>
      <td style="color: #333333; background-color: #3399ff; font-weight: bold;" id="income_total_<%= period.id %>">
        <%= number_to_currency(income_total+period.beginning_balance) %>
      </td>
  <% end %>
</tr>

<div id="income_dialog"></div>
