<% @budget.incomes.order("sort_weight ASC").each do |income| %>
    <tr id="income_row_<%= income.id %>">
      
      <th nowrap="true"
      		<% if income.title != 'Transfer from savings' && income.title != 'Other' %> 
      		style="position: relative; cursor: pointer;"
      		<% end %>
      		>
      		
        <span class="income_title"><%= income.title %></span>
        
        <% if income.title != 'Transfer from savings' && income.title != 'Other' %> 
        <span class="" style="position: absolute; right: 10px;">
          <a href="javascript:Income.edit(<%= income.id %>)" class="icon-edit"></a>
          <a href="javascript:Income.delete(<%= income.id %>)" class="icon-remove-circle"></a>
        </span>
        <% end %>
        
      </th>
      <% @periods.each do |period| %>
          <%
             # Grab the income value
             income_value = period.find_income_value(income)
          %>
          <td class="income_cell" id="income_cell_<%= income_value.nil? ? 0 : income_value.id %>"> <%= income_value != nil ? number_to_currency(income_value.amount) : "" %></td>
      <% end %>
    </tr>
<% end %>

<tr>
  <th style="color: #333333; background-color: #3399ff;">Total</th>
  <% @periods.each do |period| %>
  	  <% income_total = period.income_total %>
      <td style="color: #333333; background-color: #3399ff; font-weight: bold;" id="income_total_<%= period.id %>">
        <%= number_to_currency(income_total+period.beginning_balance) %>
      </td>
  <% end %>
</tr>

<div id="income_dialog"></div>
