<tr>
  <th style="color: white; background-color: #333333;">Variable Expenses</th>
  <td colspan="<%= @budget.periods.length %>"  style="background-color: #333333;"> &nbsp;</td>
</tr>
<% @budget.expenses.where(:isFixed => false).each do |expense| %>
    <tr>
    	  <th nowrap="true"><%= expense.title %></th>
    	  
    	  <% @budget.periods.all.each do |period| %>
    	  <% expense_value = period.find_expense_values(expense) %>
          <td onmouseover="$('span#expense_value_<%= period.id %>').toggleClass('hidden')" 
          	  onmouseout="$('span#expense_value_<%= period.id %>').toggleClass('hidden')"> <%= expense_value > 0 ? number_to_currency(expense_value) : "0.00"  %>
          <span class="btn btn-success hidden" id="expense_value_<%= period.id %>">+</span>	
          </td>
          <% end %>
    </tr>
<% end %>