<style>.progress{height: 6px; margin-bottom: 0px;}</style>
<tr>
  <th style="color: white; background-color: #333333;">Variable Expenses</th>
  <td colspan="<%= @budget.periods.length %>"  style="background-color: #333333;"> &nbsp;</td>
</tr>
<% @budget.expenses.where(:isfixed => false).each do |expense| %>
    <tr>
    	<th nowrap="true">
			<%= expense.title %> 
			<% if expense.amount.nil? %>
				<div>$0.00</div>
			<% else %>
				<div><%= number_to_currency expense.amount%>
			<% end %>
		</th>
    	  
    	  <% @periods.each do |period| %>
    	  <% 
                    expense_value = period.find_expense_values(expense)
		  	if expense.amount.nil?
                          percent_spent = 0
                        else
                          percent_spent = expense_value / expense.amount * 100
                          if percent_spent > 100
                            progress_css = "progress-danger progress-striped active"
                          elsif percent_spent < 100 && percent_spent > 75
                            progress_css = "progress-warning"
                          else
                            progress_css = "progress-success"
                          end	
		   	end
    	  %>
    	  
        <td id="<%="expense_value_#{expense.id}_#{period.id}"%>" class="expense_value" period_id="<%= period.id %>" expense_id="<%= expense.id %>" style="cursor: pointer"> 
                <span><%= number_to_currency(expense_value)  %></span>
          	<div class="progress <%= progress_css %>">
          		<div class="bar" style="width: <%= percent_spent %>%"></div>
          	</div>
          </td>
          <% end %>
    </tr>
<% end %>

<tr>
  <th style="color: #333333; background-color: #3399ff;">Total</th>
  <% @periods.each do |period| %>
      <td style="color: #333333; background-color: #3399ff; font-weight: bold;" id="variable_expense_total_cell_" nowrap="true">
        - <%= number_to_currency(period.variable_expense_total) %>
      </td>
  <% end %>
</tr>

<div class="modal fade" id="expense_edit_container" style="display: none;">
    <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3>Variable Expenses</h3>
    </div>
    <div class="modal-body">
    </div>
</div>
