<h1><%= @budget.title %></h1>

<table class="table table-striped">
    <thead>

        <tr>
            <th>&nbsp;</th>
            <% @budget.periods.all.each do |period|  %>
                <th><%= period.start_date.strftime("%m/%d") %></th>
            <% end %>
        </tr>
        <tr>
            <th style="color: #ffffff; background-color: #333333;">Income</th>
            <td colspan="<%= @budget.periods.length %>" style="background-color: #333333;"> &nbsp;</td>
        </tr>
        <tr>
            <th>Balance</th>
            <% @budget.periods.all.each do |period|  %>
               <td><%= number_to_currency(period.beginning_balance) %></td>
            <% end %>
        </tr>

    </thead>

    <tbody>

    <%= render :partial => "income" %>
	<%= render :partial => "fixed_expenses" %>
	<%= render :partial => "fixed_expenses_aw" %>
	<%= render :partial => "variable_expenses" %>
	
    </tbody>

	<tfoot>
	<th style="color: #ffffff; background-color: #333333;">Remaining Balance</th>
	<% @budget.periods.all.each do |period|  %>
		<td style="color: #ffffff; background-color: #333333;"><%= number_to_currency(period.ending_balance) %></td>
	<% end %>
	</tfoot>
</table>

<div id="expenseModal"class="modal" style="display: none;">
<div class="modal-header">
  <a href="" class="close" data-dismiss="modal">x</a>
  <h3>Add Expense</h3>
</div>
<div class="modal-body">Loading..</div>
<div class="modal-footer">
  <a href="#" class="btn btn-primary">Save</a>
  <a href="#" class="btn">Cancel</a>
</div>
</div>

<div id="incomeModal" class="modal fade" style="display: none;">
  <div class="modal-header">
    <a href="" class="close" data-dismiss="modal">x</a>
    <h3>Add Income</h3>
  </div>
  <div class="modal-body">Loading..</div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Save</a>
    <a href="#" class="btn">Cancel</a>
  </div>
</div>

<script>
  $("#expenseModal").modal({"show": false});
  
  <% if @budget.incomes.length <= 1 %>
  	$("#incomeModal").modal({keyboard: false, backdrop: 'static'});
  	$("#incomeModal").load('/incomes/new?welcome=1');
  <% end %>

  function newIncome(){
      $("#incomeModal").modal();
      $("#incomeModal").load('/incomes/new.js');
  }

  function newExpense(){
      $("#expenseModal").modal();
      $("#expenseModal").load('/expenses/new.js');
  }
</script>
