%h1= @budget.title
%div{:id => "budget-wrapper"}
  %table{:class => "table table-striped", :id => "budget"}
    %thead
      %tr{:id => "periods"}
        %th &nbsp;
        - @periods.each do |period|
          %th.period{:id => "period_#{period.id}"}= period.start_date.strftime("%m/%d")
      %tr{:id => "starting_balance"}
        %th Starting Balance
        - @periods.each do |period|
          %td{:id => "balance_#{period.id}", 
              :period => period.id,
              :class => "#{period.beginning_balance < 0 ? 'negative-balance': ''}"}= number_to_currency(period.beginning_balance)
      %tr
        %th{:style => "color: #ffffff; background-color: #333333;"}
          %span.section-title Income
          %a{:href => "javascript:void(0)", :class => "icon-white icon-plus-sign", :onclick => "Moneyger.mainRouter.new_income()"}

        %td{:colspan => @periods.length, :style => "background-color: #333333;"} &nbsp;

      = render :partial => "income"
      = render :partial => "fixed_expenses"
      = render :partial => "fixed_expenses_aw"
      = render :partial => "variable_expenses"

    %tfoot
      %th{:style => "color: #ffffff; background-color: #333333;"} Remaining Balance
      - @periods.each do |period|
        %td{:id => "remaining_balance_#{period.id}",
            :style => "color: #ffffff; background-color: #333333;",
            :nowrap => true}= number_to_currency(period.ending_balance)

%div{:id => "expenseModal", :class =>"modal fade hide"}
%div{:id => "incomeModal", :class => "modal fade hide"}

:javascript
  Expense_Value.initialize_qtip()