.modal-body
  %div{:id => "notice"}
  = semantic_form_for @expense_value do |f|
    %fieldset
      .control-group
        = f.label :amount, :class => "control-label"
        .controls
          .input-prepend
            %span{:class => "add-on"} $
            %input{:type => "text",
                   :class => "span1",
                   :name => "expense_value[amount]",
                   :placeholder => "0.00",
                   :onkeyup => "this.value = this.value.replace(/[\$,]/g,'')",
                   :value => @expense_value.amount}
            %a{:class => "btn btn-primary", :href => "javascript:void(0)"} Save

      .control-group
        .controls
          <input type="checkbox" name="apply_future"> Apply change to future entries

  %h3 Comments
  %div.income_value_comments
    .well-small
      %input{:type => "text",
             :name => "comment",
             :id => "comment",
             :placeholder => "Add a new comment",
             :onkeydown => "commentHandler(event)",
             :commentable_type => "expense_value",
             :commentable_id => @expense_value.id}
    %div{:id => "ev_comments"}
    - @expense_value.comments.each do |c|
      .comment
        %quote= "#{c.created_at.strftime('%m/%d')} - #{c.comment}"

:javascript
  function commentHandler(event){
    if(event.keyCode == 13){
      // Create the comment
      Moneyger.mainRouter.create_comment(event);
    }
  }
