<h1>Expense Value</h1>

<p>
  <b>Expense</b><br>
  <%= @expense_value.expense_id %>
</p>

<p>
  <b>Amount</b><br>
  <%= @expense_value.amount %>
</p>

<p>
  <b>Comment</b><br>
  <%= @expense_value.comment %>
</p>

<p>
  <b>Expense date</b><br>
  <%= @expense_value.expense_date %>
</p>

<div class="form-actions">
  <%= link_to 'Back', expense_values_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_expense_value_path(@expense_value), :class => 'btn' %>
  <%= link_to 'Delete', expense_value_path(@expense_value), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
