<div class="modal-header">
  <a href="" class="close" data-dismiss="modal">x</a>
  <h3>Income</h3>
</div>

<div class="modal-body" id="income_form">
<%= semantic_form_for @income, :html => {:id => 'income', :class => 'form-horizontal' } do |f| %>
  <fieldset>
	<div id="notice"></div>
	
	<% if params.key? "welcome" %>
		<div class="alert alert-info">Your budget is ready for setup! Moneyger now needs to know when you get paid, how often, and of course, how much?</div>
		
		<div class="control-group">
	      <%= f.label "Starting Balance", :class => 'control-label' %>
	      <div class="controls">
			<input type="text" name="budget[beginning_balance]" placeholder="0.00">
	      </div>
	    </div>
	<% end %>

	<% if @income.persisted? == false %>
    <div class="control-group">
      <%= f.label "Next Occurence", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :income_date, :class => 'text_field, datepicker' %>
        <span class="help-block">Example: 2012/06/25</span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :amount, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :amount, :class => 'text_field' %>
        <span class="help-block">Example: 1000.00</span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :frequency, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :frequency, ["Weekly","Bi-Weekly","Bi-Monthly","Monthly","Quarterly","Yearly"], :class => 'text_field' %>
      </div>
    </div>
	<% end %>
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field', :onkeypress => 'javascript: if(event.keyCode == 13) return false' %>
      </div>
    </div>

  </fieldset>
<% end %>
</div>

<div class="modal-footer">
  <a href="#" class="btn btn-primary" onclick="return Income.save(<%= @income.id %>)">Save</a>
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
</div>

<script type="text/javascript">
  $(".datepicker").datepicker({dateFormat: "yy/mm/dd"})
</script>
