<h1>Income</h1>

<p>
  <b>Income date</b><br>
  <%= @income.income_date %>
</p>

<p>
  <b>Amount</b><br>
  <%= @income.amount %>
</p>

<p>
  <b>Frequency</b><br>
  <%= @income.frequency %>
</p>

<p>
  <b>Title</b><br>
  <%= @income.title %>
</p>

<p>
  <b>Sort weight</b><br>
  <%= @income.sort_weight %>
</p>

<div class="form-actions">
  <%= link_to 'Back', incomes_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_income_path(@income), :class => 'btn' %>
  <%= link_to 'Delete', income_path(@income), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
