- if @expense.isfixed?
  -if @expense.auto_withdrawal?
    %tr.fixed_expense_row_aw
      %th{:nowrap => true}= @expense.title
      -@periods.each do |period|
        - expense_value = @expense.expense_value_by_period(period)
        %td=expense_value > 0 ? number_to_currency(expense_value) : ""
  - else
    %tr.fixed_expense_row
      %th{:nowrap => true}
        %div{:style => "position: relative;"}
          %span.expense_title= @expense.title
          %span{:style => "position: absolute; right: 10px;"}
            %a.icon-edit{:href => "Expense.edit(#{@expense.id}"}
            %a.icon-remove-circle{:href => "Expense.delete(#{@expense.id})"}

      - @periods.each do |period|
        - expense_value = @expense.expense_value_by_period(period)
        - if expense_value.nil? == false
          %td{:class => "is_paid_#{expense_value.is_paid}", :id => "expense_value_#{expense_value.id}", :nowrap => true}
            %div
              %span
                %input{:type => "checkbox",
                       :id => "expense_value_toggle_#{expense_value.id}", :checked => expense_value.is_paid == true ? 'checked' : ''}/
                %span.expense_cell{:id => "expense_cell_#{expense_value.id}"}= expense_value.amount > 0 ? number_to_currency(expense_value.amount) : "$0.00"
        - else
          %td.expense_cell &nbsp
- else
  %tr
    %th{:nowrap => true}
      %span.expense_title= @expense.title
      %div= @expense.amount.nil? ? "$0.00" : number_to_currency(@expense.amount)

    - @periods.each do |period|
      - expense_value = period.find_expense_values(@expense)
      - if @expense.amount.nil?
        - percent_spent = 0
      - else
        - percent_spent = expense_value / @expense.amount * 100
        - if percent_spent > 100
          -progress_css = "progress-danger progress-striped active"
        -elsif percent_spent < 100 && percent_spent > 75
          -progress_css = "progress-warning"
        -else
          -progress_css = "progress-success"

      %td.expense_value{:id => "expense_value_#{@expense.id}_#{period.id}",:expense_id => @expense.id,:style => "cursor: pointer",:period_id => period.id}
        %span= number_to_currency(expense_value)
        %div{:class => "progress #{progress_css}"}
          .bar{:style => "width: #{percent_spent}%"}
