<%= semantic_form_for @expense, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Expense</legend>

    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Short Code", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :shortcode, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :expense_date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :expense_date, :class => 'text_field datepicker' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :frequency, :class => 'control-label' %>
      <div class="controls">
        <%= f.input :frequency,  :as => :select,  :collection => ["One Time","Weekly","Bi-Weekly", "Bi-Monthly", "Monthly", "Quarterly","Annually"], :label => false%>
      </div>
    </div>

    <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
    </div>

    <div class="control-group">
      <%= f.label "Fixed Expense", :class => 'control-label' %>
      <div class="controls">
        <%= f.input :isFixed, :as => :radio, :collection => {"Yes" => 1, "No" => 0}, :label => false %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', expenses_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

<script type="text/javascript">
  $(".datepicker").datepicker();
</script>