.modal-body
  %div{:id => "notice"}
  = semantic_form_for @income_value do |f|
    %fieldset
      .control-group
        = f.label :amount, :class => "control-label"
        .controls
          .input-prepend
            %span{:class => "add-on"} $
            %input{:type => "text",
                   :class => "span1",
                   :name => "income_value[amount]",
                   :id => "income_value_amount",
                   :placeholder => "0.00",
                   :onkeyup => "this.value = this.value.replace(/[\$,]/g,'')",
                   :value => @income_value.amount}
            %a{:class => "btn btn-primary", 
               :href => "javascript:void(0)",
               :incomevalue_id => @income_value.id,
               :income_id => @income_value.income_id,
               :income_date => @income_value.income_date,
               :onClick => "Moneyger.mainRouter.save_incomevalue(event)"} Save

      .control-group
        .controls
          <input type="checkbox" id="apply_future" name="apply_future"> Apply change to future entries

  %h3 Comments
  %div.income_value_comments
    .well-small
      %input{:type => "text",
             :name => "comment",
             :id => "comment",
             :placeholder => "Add a new comment",
             :onkeydown => "commentHandler(event)",
             :commentable_type => "income_value",
             :commentable_id => @income_value.id}
    %div{:id => "iv_comments"}
    - @income_value.comments.each do |c|
      .comment
        %quote= "#{c.created_at.strftime('%m/%d')} - #{c.comment}"

:javascript
  function commentHandler(event){
    if(event.keyCode == 13){
      // Create the comment
      Moneyger.mainRouter.create_comment(event);
    }
  }
