<!DOCTYPE html>
<html>
<head>
  <title><%= t(:site_title) << ' - ' << t(:site_tagline) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/smoothness/jquery-ui.css" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="navbar navbar-fixed-top">
	
    <div class="navbar-inner">
    	
      <div class="container">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a href="/budgets" class="brand"><%= t(:site_title) %></a>
		  
          <div class="nav-collapse">

            <% if user_signed_in? %>

            <ul class="nav">
                <li><%= link_to 'Add Income', "javascript:void(0)", "onClick" => 'Income.new()' %></li>
                <li><%= link_to 'Add Expense Category', "javascript:void(0)", "onClick" => 'Expense.new_expense()' %></li>
                <li><a href="">Settings</a></li>
                <li><a href="/budgets/<%= session[:budget_id] %>/edit">Edit Budget</a></li>
            </ul>

            <% end %>

          </div>

          <ul class="nav pull-right">

            <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Budgets<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% Budget.where(:user_id => @user.id).each do |budget|  %>
                <li>
                  <a href="/budgets/set/<%= budget.id %>"><%= if budget.id == session[:budget_id] then "* #{budget.title}" else budget.title end%></a>
                </li>
                <% end  %>
                <li>
                  <a href="/budgets/new">Create a new budget</a>
                </li>
              </ul>
              </li>
            <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
            <% end %>

          </ul>

        </div><!--- End Container --->
      </div><!--- End navbar inner --->
    </div><!--- End navbar --->
<div class="container-fluid" id="main_container">
    <%= yield %>
    <div class="right_container">&nbsp;</div>
</div>
</body>
</html>
