<!DOCTYPE html>
<html>
<head>
  <title>Moneyger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "login" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/smoothness/jquery-ui.css" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="span4">&nbsp;</div>
      <div class="span4"><%= yield %></div>
      <div class="span4">&nbsp;</div>
    </div>
  </div>

</body>
</html>
